/*Brill.css is under production!*/
a{
  text-decoration:none;
}
.ice{
  background-color:#05EDFF;
  color:#FFFFFF;
}
.ice a{
  text-decoration:none;
  color:#FFFFFF;
}
.ice a:hover{
  color:#0000FF;
}
.ice a:active{
  color: #FF0000;
}
.fire{
  background-color:#FF0000;
  color:#FFA500;
}
.fire a{
  text-decoration:none;
  color:#FFA500;
}
.fire a:hover{
  color:#FFFF00;
}
.fire a:active{
  color: #0000FF;
}
